<div style="float: left;margin-left: 10px;margin-top: 10px;">
    {{message}}
</div>
<div style="margin-top: 20px;float: left;margin-left: 10px;">
    <div style="float: left;">
        <div style="float: left;margin-top: 20px;margin-left: 5px;width: 190px;text-align: justify;">
            <b>Federal Government:</b>
        </div>
        <div style="float: left;margin-left: 2px;margin-top: 20px;">
            $
        </div>
        <div style="float: left;">
            <div style="float: left;">
                <div style="float: left;margin-left: 10px;">
                    <mat-form-field class="" appearance="fill">
                        <input id="col_4540" matInput placeholder="" value="" (change)="calculate_4570()">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div style="float: left;">
        <div style="float: left;margin-top: 0px;margin-left: 5px;width: 190px;text-align: justify;">
            <b>Provincial/Territorial Government:</b>
        </div>
        <div style="float: left;margin-left: 2px;margin-top: 20px;">
            $
        </div>
        <div style="float: left;">
            <div style="float: left;">
                <div style="float: left;margin-left: 10px;">
                    <mat-form-field class="" appearance="fill">
                        <input id="col_4550" matInput placeholder="" value="" (change)="calculate_4570()">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div style="float: left;">
        <div style="float: left;margin-top: 20px;margin-left: 5px;width: 190px;text-align: justify;">
            <b>Municipal Government:</b>
        </div>
        <div style="float: left;margin-left: 2px;margin-top: 20px;">
            $
        </div>
        <div style="float: left;">
            <div style="float: left;">
                <div style="float: left;margin-left: 10px;">
                    <mat-form-field class="" appearance="fill">
                        <input id="col_4560" matInput placeholder="" value="" (change)="calculate_4570()">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div style="float: left;">
        <div style="float: left;margin-top: 20px;margin-left: 5px;width: 190px;text-align: justify;">
            <b>Total Government Funding:</b>
        </div>
        <div style="float: left;margin-left: 2px;margin-top: 20px;">
            $
        </div>
        <div style="float: left;">
            <div style="float: left;">
                <div style="float: left;margin-left: 10px;">
                    <mat-form-field class="" appearance="fill">
                        <input id="total_4570" matInput placeholder="" value="" readonly>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="float: left;">
    <div style="float: left;width: 470px;margin-top: 10px;background-color: gainsboro;">
        <a href="javascript:void();">
          <div style="float: right;background-color:#006ad1;color: white;padding: 5px;width: 150px;"
            (click)="submit4570()">Save</div>
        </a>
      </div>
    </div>