<div mat-dialog-content>
    <div style="float: left;width: 480px;font-size: 13px;margin-top: 10px;background-color: gainsboro;padding: 5px;">{{message}}</div>

    <div style="float: left;font-size: 12px;margin-top: 20px;">
        <div style="float: left;width: 500px;margin-top: 0px;">
          <div style="margin-top: 5px;float: left;">
            <div style="float: left;margin-top: 5px;width: 300px;text-align: justify;">
              Inventories
            </div>
            <div style="float: left;margin-left: 10px;">
              <div style="float: left;width: 40px;height: 20px;background-color: black;color: white;">
                <div style="padding-left: 7px;padding-top: 1.5px;">4150</div>
              </div>
            </div>
            <div style="float: left;">
              <div style="float: left;margin-left: 10px;margin-top: -12px;">
                <mat-form-field class="" style="width: 120px;height: 45px;" appearance="fill">
                  <input id="_4150" matInput placeholder="$" value="{{_4150_}}"
                    style="text-align: center;" >
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="float: left;font-size: 12px;margin-top: 10px;">
        <div style="float: left;width: 500px;margin-top: 0px;">
          <div style="margin-top: 5px;float: left;">
            <div style="float: left;margin-top: 5px;width: 300px;text-align: justify;">
                Land and buildings in Canada
            </div>
            <div style="float: left;margin-left: 10px;">
              <div style="float: left;width: 40px;height: 20px;background-color: black;color: white;">
                <div style="padding-left: 7px;padding-top: 1.5px;">4155</div>
              </div>
            </div>
            <div style="float: left;">
              <div style="float: left;margin-left: 10px;margin-top: -12px;">
                <mat-form-field class="" style="width: 120px;height: 45px;" appearance="fill">
                  <input id="_4155" matInput placeholder="$" value="{{_4155_}}"
                    style="text-align: center;" >
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="float: left;font-size: 12px;margin-top: 10px;">
        <div style="float: left;width: 500px;margin-top: 0px;">
          <div style="margin-top: 5px;float: left;">
            <div style="float: left;margin-top: 5px;width: 300px;text-align: justify;">
                Other capital assets in Canada
            </div>
            <div style="float: left;margin-left: 10px;">
              <div style="float: left;width: 40px;height: 20px;background-color: black;color: white;">
                <div style="padding-left: 7px;padding-top: 1.5px;">4160</div>
              </div>
            </div>
            <div style="float: left;">
              <div style="float: left;margin-left: 10px;margin-top: -12px;">
                <mat-form-field class="" style="width: 120px;height: 45px;" appearance="fill">
                  <input id="_4160" matInput placeholder="$" value="{{_4160_}}"
                    style="text-align: center;" >
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="float: left;font-size: 12px;margin-top: 10px;">
        <div style="float: left;width: 500px;margin-top: 0px;">
          <div style="margin-top: 5px;float: left;">
            <div style="float: left;margin-top: 5px;width: 300px;text-align: justify;">
                Capital assets outside Canada
            </div>
            <div style="float: left;margin-left: 10px;">
              <div style="float: left;width: 40px;height: 20px;background-color: black;color: white;">
                <div style="padding-left: 7px;padding-top: 1.5px;">4165</div>
              </div>
            </div>
            <div style="float: left;">
              <div style="float: left;margin-left: 10px;margin-top: -12px;">
                <mat-form-field class="" style="width: 120px;height: 45px;" appearance="fill">
                  <input id="_4165" matInput placeholder="$" value="{{_4165_}}"
                    style="text-align: center;" >
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="float: left;font-size: 12px;margin-top: 10px;">
        <div style="float: left;width: 500px;margin-top: 0px;">
          <div style="margin-top: 5px;float: left;">
            <div style="float: left;margin-top: 5px;width: 300px;text-align: justify;">
                Other assets
            </div>
            <div style="float: left;margin-left: 10px;">
              <div style="float: left;width: 40px;height: 20px;background-color: black;color: white;">
                <div style="padding-left: 7px;padding-top: 1.5px;">4170</div>
              </div>
            </div>
            <div style="float: left;">
              <div style="float: left;margin-left: 10px;margin-top: -12px;">
                <mat-form-field class="" style="width: 120px;height: 45px;" appearance="fill">
                  <input id="_4170" matInput placeholder="$" value="{{_4170_}}"
                    style="text-align: center;" >
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


<div mat-dialog-actions style="margin-top: 0px;float: left;">
    <div style="float: left;margin-top: 65px;margin-left: 310px;">
        <a href="javascript:void();">
            <div style="float: left;padding-top: 2px;height: 25px;width: 80px;text-align: center;border-radius: 5%;
        background-color: #006ad1;color: white;" (click)="ok()">Ok</div>
        </a>
    </div>
    <div style="float: left;margin-top: 65px;margin-left: 10px;">
        <a href="javascript:void();">
            <div style="float: left;padding-top: 2px;height: 25px;width: 80px;text-align: center;border-radius: 5%;
           background-color: #cc0000;color: white;" (click)="cancel()">Cancel</div>
        </a>
    </div>
</div>
